:root {
  --dark: #030405;
  --secondary: #08080f;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
}

.navBarLogo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.navBarBasket {
  background: #fff;
  width: 200px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.navBarBasket:hover {
  opacity: 0.75;
}

.navBarBasketTitle {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
}

.navBarBasketTitleImg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.navBarBasketCounter {
  height: 40px;
  width: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--dark-color);
  background: var(--light-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
